<%
# Code Review plugin for Redmine
# Copyright (C) 2010-2011  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<%
repository_id = @repository.identifier_param if @repository.respond_to?("identifier_param")

if @changeset
  urlprefix = url_for(:controller => 'repositories', :action => 'revisions', :id => project, :repository_id => repository_id) +
    '/' + @changeset.identifier + '/entry'
%>
  <% if User.current.allowed_to?(:assign_code_review, @project) %>
    <div id="code_review_assignments">
      <%= l :review_assignments %>:
      <%= show_assignments @changeset.code_review_assignments, @project,
      { rev: @changeset.revision, changeset_id: @changeset.id,
        repository_id: repository_id } %>
    </div>
  <% end %>

  <script type="text/javascript">
    $('#changes-legend').after($('#code_review_assignments'));
    urlprefix = '<%= j urlprefix%>';
  <% @changeset.changes.each{|change| %>
    var reviewlist = [];
    <%
    cnt = 0
    change.code_reviews.each {|review|
      issue = review.issue
      url = link_to('#' + "#{issue.id} #{review.subject}(#{issue.status})",
        :controller => 'code_review', :action => 'show', :id => project, :review_id => review.id, :repository_id => repository_id)
    %>
      var review = new CodeReview(<%=review.id%>);
      review.url = '<%= j url%>';
      <% if review.is_closed? %>
        review.is_closed = true;
      <% end %>
      reviewlist[<%=cnt%>] = review;
      <%
      cnt += 1

    }
    path = change.path || ""
    abs_path = path.start_with?(?/) ? path : "/#{path}"
  %>
    code_reviews_map['<%= j abs_path -%>'] = reviewlist;
  <%
  }
%>
  UpdateRevisionView();
  </script>
<% end %>
