<%
# Code Review plugin for Redmine
# Copyright (C) 2009  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<div class="code-review-dialog">
<div class="code-review-form-title drag-handle" >
  <table border="0" width="100%">
    <tr>
      <td><%= l(:code_review) %></td>
      <td align="right">
        <%= link_to_function image_tag('close.png'), "$('show_review_#{@review.id}').hide();" %>
      </td>
    </tr>
  </table>
</div>

<div class="code_review_body">
  <div class="code_review_body-scrollarea">
    <%= error_messages_for 'review' -%>
    <%= error_messages_for 'reply' -%>
    <% if @notice -%>
      <div class="flash notice"><%= @notice -%></div>
    <% end -%>
<div class="code_review_viewer issue">
<div class="contextual">
  <% if authorize_for('code_review', 'update') -%>
    <%= link_to_function  l(:button_update), "$('update-form-#{@review.id}').show();return false;" %>
  <% end %>
<% if authorize_for('code_review', 'destroy') -%>
<%= link_to_remote(l(:button_delete), :update => "show_review_#{@review.id}",
  :url => {:controller => 'code_review', :action => 'destroy', :id => @project, :review_id => @review},
  :confirm => l(:text_are_you_sure),
  :success => "deleteReview(#{@review.id})",
  :html => {:class => 'icon icon-del'}) %>
<% end -%>
</div>
  <h2>
    <%= l(:label_line_number, @review.line) %>
  </h2>
<p class="author">
  <%= avatar(@review.user, :size => "64") %>
        <%= authoring @review.created_at, @review.user %>.
        <%= l(:label_updated_time, distance_of_time_in_words(Time.now, @review.updated_at)) + '.' if @review.created_at != @review.updated_at %>
</p>


<table>
<tr>
    <td style="width:15%; white-space:nowrap" class="status"><b><%=h l(:field_status) %>:</b>
    </td>
    
      <% if @review.is_closed? -%>
        <td style="width:20%" class="status">
        <%=h l(:label_review_closed) -%>
        </td>
        <td>
        <%= link_to_remote l(:label_reopen_review), :update => "show_review_#{@review.id}",
          :url => {:controller => 'code_review', :action => 'reopen', :id => @project, :review_id => @review},
          :success => "setDraggables()"  if authorize_for('code_review', 'reopen')%>
        </td>
      <% else -%>
        <td style="width:20%" class="status">
        <%=h l(:label_review_open) -%>
        </td>
        <td>
        <%= link_to_remote l(:label_close_review), :update => "show_review_#{@review.id}",
          :url => {:controller => 'code_review', :action => 'close', :id => @project, :review_id => @review}if authorize_for('code_review', 'close') %>
        </td>
      <% end -%>

</tr>
 </table>
 
<hr/>
  <div class="wiki">
<%= textilizable @review, :comment %>
  </div>
  <div class="box" id="update-form-<%= @review.id %>" style="display:none;">

<% remote_form_for :review, @review,
  :url => {:controller => 'code_review', :action => 'update', :id=>@project, :review_id => @review.id},
  :update => "show_review_#{@review.id}" do |f|  %>

<p>
  <%= f.text_area :comment,
                   :cols => 30,
                   :rows => 10,
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %>

</p>
<p>
      <%= submit_tag l(:button_apply) %>
      <input type="button" value="<%=h l(:button_cancel) %> " onclick='$("update-form-<%= @review.id %>").hide();'/>
</p>
 <%= wikitoolbar_for 'review_comment' %>
<% end %>

</div>

</div>
<% if @review.children.length > 0 %>
 <h3>
    <%=  l(:label_comment) %>
  </h3>
<% end %>

<%= render :partial => 'reply', :collection => @review.children.sort{|a, b| a.id <=> b.id} %>


<% if authorize_for('code_review', 'reply') -%>
<p><%= toggle_link l(:button_reply), "reply", :focus => 'reply_comment' %></p>
<div id="reply" style="display:none;" class="box">
<% form_for :reply, @reply, :url => {:action => 'reply', :id => @project, :parent_id => @review.id}, :html => {:id => 'message-form'} do |f| %>
  <%= hidden_field_tag :parent_id, @review.id %>
<p>
  <%= f.text_area :comment,
                   :cols => 30,
                   :rows => 10,
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %>
 
</p>
<p>
  <%= submit_to_remote 'apply', l(:button_apply), :update => "show_review_#{@review.id}",
        :url => {:controller => 'code_review', :action => 'reply', :id=>@project}, :method => :post %>
</p>
<%= wikitoolbar_for 'reply_comment' %>
<% end %>
</div>

<% end %>
</div>
</div>
</div>

<%= javascript_tag("setDraggables();") %>