
<div class="code-review-form-title drag-handle" >
  <table border="0" width="100%">
    <tr>
      <td><%= l(:code_review) %></td>
      <td align="right">
        <%= link_to_function image_tag('close.png'), "$('show_review_#{@review.id}').hide();" %>
      </td>
    </tr>
  </table>
</div>

<div class="code_review_viewer issue">
<div class="contextual">
<%= link_to_if_authorized(l(:button_update), {:controller => 'code_review', :action => 'update', :id => @project, :review_id => @review}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
<% if authorize_for('code_review', 'destroy') -%>
<%= link_to_remote(l(:button_delete), :update => "show_review_#{@review.id}",
  :url => {:controller => 'code_review', :action => 'destroy', :id => @project, :review_id => @review},
  :confirm => l(:text_are_you_sure),
  :success => "deleteReview(#{@review.id})",
  :html => {:class => 'icon icon-del'}) %>
<% end -%>
</div>
  <h2>
    <%= @review.line %>行目
  </h2>
<p class="author">
        <%= authoring @review.created_at, @review.user %>.
        <%= l(:label_updated_time, distance_of_time_in_words(Time.now, @review.updated_at)) + '.' if @review.created_at != @review.updated_at %>
        </p>
  <h3>
    <%=  l(:label_comment) %>
  </h3>
  <div class="wiki">
<%= textilizable @review, :comment %>
  </div>
  
<%= render :partial => 'reply', :collection => @review.children.sort{|a, b| a.id <=> b.id} %>

<p><%= toggle_link l(:button_reply), "reply", :focus => 'reply_comment' %></p>
<div id="reply" style="display:none;" class="box">
<% form_for :reply, @reply, :url => {:action => 'reply', :id => @project, :parent_id => @review.id}, :html => {:id => 'message-form'} do |f| %>
  <%= hidden_field_tag :parent_id, @review.id %>
<p>
  <%= f.text_area :comment,
                   :cols => 30,
                   :rows => 10,
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %>
 
</p>
<p>
  <%= submit_to_remote 'apply', l(:button_apply), :update => "show_review_#{@review.id}",
        :url => {:controller => 'code_review', :action => 'reply', :id=>@project}, :method => :post %>
</p>
<%= wikitoolbar_for 'reply_comment' %>
<% end %>
</div>
  
</div>
