<div class="code_review">
  
</div>
<div id="review-form-frame" style="position:absolute;display:none;top:0px" class="draggable">
  <div id="review-form">
  
  </div>
</div>

<% javascript_tag do %>
  var addReviewUrl = '<%= url_for :controller => 'code_review', :action => 'new', :id=>@project %>';
  var is_readonly = true;
  <% if authorize_for('code_review', 'new') -%>
    is_readonly = false;
  <% end %>
  setAddReviewButton(addReviewUrl, <%= @change.id %>, '<%= image_tag('edit.png', :alt => l(:label_add_review), :title => l(:label_add_review)) %>', is_readonly);

  showReviewUrl = '<%= url_for :controller => 'code_review', :action => 'show', :id=>@project %>';
  showReviewImageTag = '<%= image_tag('comment.png', :alt => l(:label_show_review), :title => l(:label_show_review)) %>';
  <% for review in @reviews do %>
    setShowReviewButton(<%= review.line %>, <%= review.id %>);
  <% end %>
  setDraggables();
  <% if @show_review_id -%>
  popupReview(<%= review.line %>, <%= @show_review_id %>);
  <% end -%>
<% end %>