<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>
  <%=h l(:code_reviews) %>
</h2>

<% if @reviews == nil or @reviews.length == 0 %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th><%=h l(:field_status)%></th>
      <th>path</th>
      <th>line</th>
      <th>rev</th>
      <th>committer</th>
      <th>reviewer</th>
      <th><%=h l(:label_date) %></th>
    </tr>
  </thead>
  <tbody>
    <% for review in @reviews %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%=  review.id %></td>
        <%
        url = url_for(:controller => 'repositories', :action => 'diff', :id => @project) + review.change.path + '?rev=' + review.change.changeset.revision + '&review_id=' + @review.id.to_s
        %>
        
        <td class="status">
          <%=h l(:label_review_closed) if review.is_closed? -%>
          <%=h l(:label_review_open) unless review.is_closed? -%>
        </td>
        <td><%= link_to review.change.path, url %></td>
        <td><%=h review.line %></td>
        <td><%=h review.change.changeset.revision %></td>
        <td><%=h review.change.changeset.author %></td>
        <td><%=h review.user.name %></td>
        <td><%=h format_time(review.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>