<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="code_review_list">
<h2>
  <%=h l(:code_reviews) %>
</h2>

<% if @reviews == nil or @reviews.length == 0 %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list">
  <thead>
    <tr>
      <th>
        <%= sort_header_tag('id', :caption => '#') %>
      </th>
      <th>
        <%= sort_header_tag 'status', :caption => l(:field_status)%>
      </th>
      <th>
        <%= sort_header_tag 'path', :caption => l(:label_code_path)%>
      </th>
      <th>
        <%=h l(:label_code_line)%>
      </th>
      <th>
        <%= sort_header_tag 'changesets.revision', :caption => l(:label_revision)%>
      </th>
      <th>
        <%= sort_header_tag 'changesets.committer', :caption => l(:label_code_author)%>
      </th>
      <th>
        <%= sort_header_tag 'user_id', :caption => l(:label_code_reviewer)%>
      </th>
      <th>
        <%= sort_header_tag 'updated_at', :caption => l(:label_date) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for review in @reviews %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td colspan="2"><%=  review.id %></td>
                
        <td colspan="2" class="status">
          <%=h l(:label_review_closed) if review.is_closed? -%>
          <%=h l(:label_review_open) unless review.is_closed? -%>
        </td>
        <td colspan="2" class="path">
          <%
            codepath = review.change.path
            if (review.change.path.length > 55)
              codepath = review.change.path[0, 15] + '...' + review.change.path[review.change.path.length - 35, 35]
            end
          -%>
<%= link_to(codepath, {:controller => 'code_review', :action => 'show', :id => @project, :review_id => review.id}, :title => review.change.path) -%>
      　</td>
        <td><%=h review.line %></td>
        <td colspan="2"><%=h review.change.changeset.revision %></td>
        <td colspan="2"><%=h review.change.changeset.author %></td>
        <td colspan="2"><%=h review.user.name %></td>
        <td colspan="2"><%=h format_time(review.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="pagination"><%= pagination_links_full @review_pages, @review_count %></p>

<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "code_review.css", :plugin => "redmine_code_review", :media => "screen" %>
<% end %>
</div>